body {
  background-color: #f8f3ef;
}

.App {
  max-width: 960px;
  margin: 30px auto;
}

.App-header {
  background-color: #f8f3ef;
}

.App-logo {
  max-width: 350px;
  display: block;
  margin: 0 auto;
}

.App-footer {
  font-size: 12px;
  text-align: center;
  background-color: #f8f3ef;
  padding: 30px;
}
