.dictionary {
  margin-top: 0;
  background-color: #f8f3ef;
}

.dictionary section {
  background: white;
  padding: 20px 40px;
  border-radius: 6px;
  margin: 15px 50px 0;
}
form {
  text-align: center;
  padding: 30px;
}

.search-button {
  font-weight: 150;
  margin-left: 5px;
}

