.Meaning h4 {
  color: #5c473c;
  font-size: 24px;
  text-transform: capitalize;
}

.Meaning .definition {
  font-weight: 250;
  line-height: 23px;
}

.Meaning .example {
  font-style: italic;
  margin-top: 7px;
  color: grey;
  font-family:'Courier New', Courier, monospace;
}
